# AWS Credentials for bedrock llm
AWS_ACCESS_KEY_ID="AKIAXXXXXXXXXXXXXXXX"
AWS_SECRET_ACCESS_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
AWS_SESSION_TOKEN="AKIAXXXXXXXXXXXXXXXX"

#OPTIONAL
AWS_REGION=us-east-1